<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>View Products</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4C+s32p6WIY18zjJBCbr9uwUunrzW/IbD4eILFwRxGfQ4cFsHtne2o6pRH9qLF3Fut5zg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<section>
  <div class="card card-sh">
    <div class="card-header">
      <p class="fs-4">View Product</p>
      <th:block th:if="${session.succMsg}">
        <p class="test-success fw-bold">[[${session.succMsg}]]</p>
        <th:block th:text = "${@commonServiceImpl.removeSessionMessage()}"></th:block>
      </th:block>
      <th:block th:if="${session.errorMsg}">
        <p class="test-danger fw-bold">[[${session.errorMsg}]]</p>
        <th:block th:text = "${@commonServiceImpl.removeSessionMessage()}"></th:block>
      </th:block>
    </div>
    <div class="container-fluid mt-5 p-2">
      <div class="card-body text-center">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Sl No</th>
              <th scope="col">Image</th>
              <th scope="col">Title</th>
              <th scope="col">Category</th>
              <th scope="col">Price</th>
              <th scope="col">Discount</th>
              <th scope="col">Discount Price</th>
              <th scope="col">Status</th>
              <th scope="col">Stock</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(products)}">
              <td colspan="7">No products found.</td>
            </tr>
            <tr th:each="p, c : ${products}">
              <th scope="row">[[${c.index + 1}]]</th>
              <td><img th:src="@{'/img/product_img/' + ${p.image}}" width="70px" height="70px"></td>
              <td>[[${p.title}]]</td>
              <td>[[${p.category}]]</td>
              <td>[[${p.price}]]</td>
              <td>[[${p.discount}]]</td>
              <td>[[${p.discountPrice}]]</td>
              <td>[[${p.isActive}]]</td>
              <td>[[${p.stock}]]</td>
              <td>
                <a th:href="@{'/admin/editProduct/' + ${p.id}}" class="btn">
                  <i class="fa-solid fa-pen-to-square text-primary fa-1x"></i>Edit
                </a>
                <a th:href="@{'/admin/deleteProduct/' + ${p.id}}" class="btn">
                  <i class="fa-solid fa-trash text-danger fa-1x"></i>Delete
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
