<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<section>
    <div class="container-fluid bg-primary p-5 mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" name="ch" placeholder="Search..." aria-label="Search">
                        <button class="btn btn-light text-dark ms-3 col-md-2" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-1">
        <div class="row">
            <div class="col-md-2 p-0">
                <div class="card shadow-sm p-0 p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body">
                        <nav class="list-group" aria-label="Category navigation">
                            <p class="fs-5">Category</p>
                            <a href="/products" class="list-group-item list-group-item-action" aria-current="true" th:classappend="${paramValue == ''} ? 'active' : ''">
                                All
                            </a>
                            <a th:each="c:${categories}" th:href="@{'/products?category='+${c.name}}"
                               th:classappend="${paramValue == c.name} ? 'active' : ''"
                               class="list-group-item list-group-item-action">[[${c.name}]]
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body">
                        <p class="fs-3 text-center">Products</p>
                        <div class="row">
                            <th:block th:if="${products.size > 0}">
                                <div class="col-sm-6 col-md-4 col-lg-3" th:each="p:${products}">
                                    <div class="card h-100 d-flex flex-column">
                                        <div class="card-body text-center">
                                            <img th:src="@{'/img/product_img/'+${p.image}}" alt="[[${p.title}]]" width="100%" height="200px" class="mb-2">
                                            <p class="fs-5 text-center">[[${p.title}]]</p>
                                            <div class="row text-center mt-auto">
                                                <p class="fs-6 fw-bold">
                                                    <span>[[${p.discountPrice}]] $</span><br>
                                                    <span th:if="${p.discount == 0}"><br></span>
                                                    <span th:if="${p.discount > 0}">
                                                    <span class="text-decoration-line-through text-secondary">[[${p.price}]]</span>
                                                    <span class="fs-6 text-success">[[${p.discount}]]% off</span>
                                                </span>
                                                </p>
                                                <a th:href="@{'/product/' + ${p.id}}" class="btn btn-primary col-md-6 offset-md-3">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:unless="${products.size > 0}">
                                <p class="fs-f4 text-center mt-4 fw-bold">Product not available</p>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
